* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffff;
  font-family: Trebuchet MS;
  padding: 0 15px;
  max-width: 1150px;
  margin: auto;
  width: 100%;
  padding: 30px;
}
body ul li {
  list-style: none;
  display: inline-block;
}
body a {
  text-decoration: none;
}

#mainheader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
#mainheader .logo {
  width: 120px;
}
#mainheader ul li #active {
  color: #0481c2;
}
#mainheader ul li a {
  padding: 10px 10px;
  display: block;
  font-size: 18px;
  color: #878787;
}
#mainheader ul li a:hover {
  color: #0481c2;
}

#maincontent {
  display: grid;
  grid-template-columns: 25% auto;
  grid-gap: 10px;
}
#maincontent p {
  font-size: 13px;
}
#maincontent a {
  padding: 10px 0px;
  display: block;
  font-size: 15px;
  color: #6b6b6b;
}
#maincontent a:hover {
  color: #000;
}

.leftcontent {
  text-align: justify;
  border-top: 5px solid #0481c2;
  border-bottom: 5px solid #0481c2;
  padding-top: 15px;
}
.leftcontent .searchbar {
  position: relative;
}
.leftcontent .searchbar input {
  border: 1px solid #000;
  width: 100%;
  padding: 8px 5px;
  font-size: 15px;
}
.leftcontent .searchbar ::placeholder {
  font-size: 12px;
  padding: 10px;
}
.leftcontent .searchbar img {
  position: absolute;
  width: 25px;
  right: 10px;
  top: 8px;
  cursor: pointer;
}
.leftcontent h2 {
  color: #0481c2;
  font-weight: 400;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #878787;
}
.leftcontent .asidewrap {
  margin-top: 10px;
  padding-top: 10px;
}
.leftcontent .asidewrap h5 {
  color: #0481c2;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0px;
}
.leftcontent .asidewrap .lik {
  border-bottom: 1px solid #404040;
}
.leftcontent .asidewrap .lik:hover {
  color: #000;
}
.leftcontent .asidewrap .lik a {
  margin: 10px 0;
}

.articelsection {
  text-align: justify;
  border-bottom: 5px solid #0481c2;
  display: grid;
  margin-top: 30px;
  padding-bottom: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.articelsection article h2 {
  color: #0481c2;
  font-weight: 500;
  padding-top: 10px;
  font-size: 18px;
}
.articelsection article p {
  padding: 10px 0px;
}

.middle {
  border-top: 5px solid #0481c2;
  padding-top: 15px;
}
.middle img {
  width: 100%;
}

.imgsec {
  position: relative;
}
.imgsec img {
  width: 100%;
  object-fit: cover;
}
.imgsec .overlay {
  position: absolute;
  right: 0;
  width: 30%;
  height: 99%;
  opacity: 0.5;
  top: 0;
  background-color: #aaaaaa;
}
.imgsec .content {
  font-size: 12px;
  position: absolute;
  right: 0px;
  top: 29%;
  color: #fff;
}
.imgsec .content h1 {
  line-height: 2;
  text-align: center;
}
.imgsec .content p {
  font-size: 12px;
  color: #fff;
  padding: 10px 23px 0px 0px;
  width: 224px;
  text-align: justify;
}

#mainfooter .social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url(/img/sprite.png);
  background-repeat: no-repeat;
  align-items: center;
  margin-top: 10px;
}
#mainfooter .social .list li {
  list-style-type: none;
}
#mainfooter .social .list li a button {
  outline: none;
  border: none;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background-color: transparent;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
