// header
header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  .logo {
    width: 120px;
  }
  ul li {
    a {
      padding: 10px 10px;
      display: block;
      font-size: 18px;
      color: #878787;
    }
    &:first-child a {
      color: #0481c2;
    }
  }
}
