// section
.middle {
  border-top: 5px solid #0481c2;
  padding-top: 15px;
  img{
    width: 100%;
  }
}
.imgsec {
  position: relative;
  img {
    width: 100%;
    object-fit:cover;
  }
  .overlay{
    position: absolute;
    right: 0;
    width: 30%;
    height: 99%;
    opacity: .5;
    top:0;
    background-color: #aaaaaa;
    }
  #content {
    font-size: 1.2vw;
    position: absolute;
    color: #fff;
    top: 50%;
    right: 14%;
    transform: translate(50%,-50%);
    h1{
      font-size: 1em;
      line-height: 2;
      text-align: center;
    }
    p {
      word-spacing: 6px;
      font-size: .8em;
      color: #fff;
      text-align: justify;
    }
  }
}
